/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* Default CSS */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Header */

h1 {
    font-family: 'Langar', cursive;
    font-size: 30px;
    /* background-color: rgba( 108, 73, 184, 0.7); */
    background-color: rgba(63, 75, 59, 0.7);
    /* color: #EDECEA; */
    color: white;
    text-align: center;
    padding: 2%;
    margin: 2%;
}

h2 {
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 24px;
    /* background-color: rgba( 108, 73, 184, 0.7); */
    background-color: rgba(63, 75, 59, 0.7);
    /* color: #EDECEA; */
    color: white;
    text-align: center;
    padding: 1%;
    margin: 1%;
}

#myHeaderImageGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myHeaderImageGallery>img {
    flex: 1;
    width: 80%;
}


/* Desktop Screen */

@media screen and (min-width: 992px) {
    #myHeaderImageGallery>img {
        width: 45%;
    }
}

body {
    background-image: url('./images/background_images/fall_backdrop.png');
}


/* Kick Button */

.kickButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.kickButtonItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kickButton {
    width: 220px;
    height: 100px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

.kickButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: shine 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.kickButton:active {
    color: #000
}

.kickButton:active:after {
    background: transparent;
}

.kickButton:hover:before {
    opacity: 1;
}

.kickButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes shine {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#specifiedTagLine {
    color: whitesmoke;
}

.centerContent {
    margin-left: 270px;
    margin-top: 100px;
}


/* Question */

.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(194, 224, 247, 0.5);
    color: #8A6845;
    color: #714A38;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.questionContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.questionContent p {
    flex: 1;
    margin: 0px;
    padding: 0px;
}


/* Answer */

.quizAnswerContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* color: #8A6845; */
    background-color: #BFDFF6;
    background-color: rgba(194, 224, 247, 0.5);
    color: #767AA7;
    color: #384A76;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.quizAnswerContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}

.quizAnswerContent div {
    flex: 1;
    padding: 5px;
}

.bulletHolder {
    padding: 10px;
    margin: 10px;
}


/* Submit Button */

.submitButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submitButtonContainer button {
    flex: 1;
    padding: 1%;
    margin: 1%;
}

.submitButtonStyleHolder {
    background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #fff;
    color: darkblue;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    height: 5rem;
    letter-spacing: 0.05em;
    outline: none;
    user-select: none;
    width: 20rem;
}

.submitButtonStyleHolder:hover {
    animation-name: passColor;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes passColor {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100%;
    }
}

#validationText {
    color: crimson;
}


/* Correct InCorrect Message  */

.corMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(249, 57, 134, 0.2);
    color: rgb(251, 18, 83);
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
}

.corMessageItem {
    flex: 1;
    margin: 1%;
    padding: 1%;
}


/* submit and next button */

#nextButton {
    display: none;
}

#submitButton {
    display: block;
}


/* Final Message */

.finalMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(21, 21, 21, 0.5);
    color: rgb(255, 255, 255);
    padding: 5%;
    margin: 2%;
}

.finalMessageContent {
    flex: 1;
    margin: 1%;
    padding: 1%;
}

.finalMessageFormat {
    font-size: 45px;
    font-family: 'East Sea Dokdo', cursive;
}


/* question image */

.queImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.queImageItem {
    flex: 1;
    margin: 10px;
}

.queImageItem>img {
    width: 100%;
}


/* Footer */

.FooterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.Footer {
    flex: 1;
    margin: 10px;
    color: whitesmoke;
    text-align: center;
}